[user]
    name = Ivan Wills
    email = ivan.wills@gmail.com
[color]
    diff = auto
    status = auto
    branch = auto
    log = auto
	ui = auto
[alias]
    ci = commit
    s = status
    st = status
    br = branch
    co = checkout
    di = diff --ignore-all-space
    who     = shortlog -s --
    cat     = show
    lpg     = log --decorate --graph --name-status
    lp      = log -p
    lg      = log --format=format:'%Cred%h%Creset %s %Cgreen%an %C(red bold)%ai%Creset %C(blue bold)%d%Creset'
    lgp     = log --format=format:'%Cred%h%Creset %s %Cgreen%an %C(red bold)%ai%Creset %C(blue bold)%d%Creset' --graph
    lgpv    = log --format=format:'%Cred%h%Creset %s %Cgreen%an %C(red bold)%ai%Creset %C(blue bold)%d%Creset' --graph --name-status
    logd    = log --decorate --graph
    log1    = log --pretty=oneline
    logl    = log --decorate --name-status
    logme   = log --author=ivan.wills --author='Ivan Wills'
    lpgme   = log --decorate --graph --name-status                                                                                   --author=ivan.wills --author='Ivan Wills'
    lpme    = log -p                                                                                                                 --author=ivan.wills --author='Ivan Wills'
    lgme    = log --format=format:'%Cred%h%Creset %s %Cgreen%an %C(red bold)%ai%Creset %C(blue bold)%d%Creset'                       --author=ivan.wills --author='Ivan Wills'
    lgpme   = log --format=format:'%Cred%h%Creset %s %Cgreen%an %C(red bold)%ai%Creset %C(blue bold)%d%Creset' --graph               --author=ivan.wills --author='Ivan Wills'
    lgpvme  = log --format=format:'%Cred%h%Creset %s %Cgreen%an %C(red bold)%ai%Creset %C(blue bold)%d%Creset' --graph --name-status --author=ivan.wills --author='Ivan Wills'
    logdme  = log --decorate --graph                                                                                                 --author=ivan.wills --author='Ivan Wills'
    log1me  = log --pretty=oneline                                                                                                   --author=ivan.wills --author='Ivan Wills'
    loglme  = log --decorate --name-status                                                                                           --author=ivan.wills --author='Ivan Wills'
    parents = log --pretty=%P -n 1
	forward = pull --ff -r
    ff      = pull --ff -r
    pl      = pull
    ph      = push
	show-root-folder = rev-parse --show-toplevel
#[receive]
#    denyCurrentBranch = warn
[core]
    excludesfile = /home/ivan/.gitignore
	autocrlf = input
	ignorecase = false
    editor = vim
[push]
	default = current
[merge]
	log = true
	branchdesc = true
	ff = false
[workflow]
	release = branch=origin/master
