[user]
    name  = Ivan Wills
    email = Ivan.Wills2@optus.com.au
[color]
    diff   = auto
    status = auto
    branch = auto
    log    = auto
    ui     = auto
[alias]
    ack     = grep --break --heading --line-number -P
    ci      = commit
    cine    = commit --no-edit
    s       = status
    st      = status
    br      = branch
    sw      = switch
    co      = checkout
    pushb   = checkout
    popb    = checkout
    coo     = checkout --ours
    cot     = checkout --theirs
    di      = diff --ignore-all-space
    ff      = pull --ff -r
    forward = pull --ff -r
    who     = shortlog -s --
    cat     = show
    url     = config remote.origin.url
    tags    = tag
    le      = log --format=format:'%Cred%h%Creset %s %Cgreen%ae %C(red bold)%ai%Creset %C(blue bold)%d%Creset'
    lgf     = log --format=format:'%Cred%h%Creset %s %Cgreen%an %C(red bold)%ai%Creset %C(blue bold)%d%Creset' --graph --first-parent
    lg      = log --format=format:'%Cred%h%Creset %s %Cgreen%an %C(red bold)%ai%Creset %C(blue bold)%d%Creset' --graph
    lgme    = log --format=format:'%Cred%h%Creset %s %Cgreen%an %C(red bold)%ai%Creset %C(blue bold)%d%Creset' --graph               --author=ivan.wills --author='Ivan Wills'
    logme   = log --author=ivan.wills --author='Ivan Wills'
    lgv     = log --format=format:'%Cred%h%Creset %s %Cgreen%an %C(red bold)%ai%Creset %C(blue bold)%d%Creset' --graph --name-status
    lgvme   = log --format=format:'%Cred%h%Creset %s %Cgreen%an %C(red bold)%ai%Creset %C(blue bold)%d%Creset' --graph --name-status --author=ivan.wills --author='Ivan Wills'
    l       = log --format=format:'%Cred%h%Creset %s %Cgreen%an %C(red bold)%ai%Creset %C(blue bold)%d%Creset' --first-parent -n 20
    ll      = log --format=format:'%Cred%h%Creset %s %Cgreen%an <%ae>%C(red bold)%ai%Creset %C(blue bold)%d%Creset' --first-parent -n 20
    lme     = log --format=format:'%Cred%h%Creset %s %Cgreen%an %C(red bold)%ai%Creset %C(blue bold)%d%Creset'                       --author=ivan.wills --author='Ivan Wills'
    lpeople = "!g() { git log --format=format:%an $@ | uniq | head; }; g"
    log1    = log --pretty=oneline
    log1me  = log --pretty=oneline                                                                                                   --author=ivan.wills --author='Ivan Wills'
    logdme  = log --decorate --graph                                                                                                 --author=ivan.wills --author='Ivan Wills'
    loglme  = log --decorate --name-status                                                                                           --author=ivan.wills --author='Ivan Wills'
    logd    = log --decorate --graph
    logl    = log --decorate --name-status
    logsha  = log --format=format:%H
    lpg     = log --decorate --graph --name-status
    lpgme   = log --decorate --graph --name-status                                                                                   --author=ivan.wills --author='Ivan Wills'
    lp      = log -p
    lpme    = log -p                                                                                                                 --author=ivan.wills --author='Ivan Wills'
    parents = log --pretty=%P -n 1
    changes = log --format=format:'        %s (%an)'
    pl      = pull
    ph      = push -u
    push    = !echo try using "'git pu'" rather "'git push'"
    show-root-folder = rev-parse --show-toplevel
    stashed = stash list --pretty=format:'%gd: %Cred%h%Creset %Cgreen[%ar]%Creset %s'
    update  = !git add . && git stash && git fetch origin && git merge --no-edit origin/master && git push && git stash pop && git reset HEAD
    up      = !git fetch origin && git merge --no-edit origin/master && git push
    merge-to    = merge
    url         = config remote.origin.url
    who         = shortlog -s --
    root-folder = rev-parse --show-toplevel
    name        = rev-parse --abbrev-ref HEAD
    subdate     = submodule update --init --recursive --remote
    revne       = revert --no-edit
    branch-age  = branch --format='%(authordate)%09%(objectname) %(*refname:lstrip=2)%09%(authorname)'
    package     = pom -P package.json
    package-osg = pom -P instances/optussd/package.json -b 'master|release|project'
    history     = branch-history -un 20
    git         = "!g() { git $@; };  g"
    wait        = watch do -1 -f package.json -r -- git ff
#[receive]
#    denyCurrentBranch = warn
[core]
    excludesfile = /home/ivan/.gitignore
    autocrlf     = input
    ignorecase   = false
    editor       = vim
[push]
    default = current
[merge]
    log        = true
    branchdesc = true
    ff         = false
[workflow]
    release = branch=^origin/master$
    max-history = 10
[grep]
    extendRegexp = true
[credential]
    helper = store
[init]
    templatedir = /home/ivan/git-hooks/hooks
[helper]
    add-jira = true
[helpers]
    add-jira = true
[http]
    sslVerify = false
