[user]
    name  = Ivan Wills
    email = ivan.wills@gmail.com
[color]
    diff   = auto
    status = auto
    branch = auto
    log    = auto
    ui     = auto
[alias]
    ci      = commit
    cine    = commit --no-edit
    s       = status
    st      = status
    br      = branch
    sw      = switch
    co      = checkout
    coo     = checkout --ours
    cot     = checkout --theirs
    di      = diff --ignore-all-space
    who     = shortlog -s --
    cat     = show
    url     = config remote.origin.url
    tags    = tag
    lpg     = log --decorate --graph --name-status
    lp      = log -p
    l       = log --format=format:'%Cred%h%Creset %s %Cgreen%an %C(red bold)%ai%Creset %C(blue bold)%d%Creset' --first-parent -n 20
    le      = log --format=format:'%Cred%h%Creset %s %Cgreen%ae %C(red bold)%ai%Creset %C(blue bold)%d%Creset' --first-parent -n 20
    lg      = log --format=format:'%Cred%h%Creset %s %Cgreen%an %C(red bold)%ai%Creset %C(blue bold)%d%Creset' --graph
    lgf     = log --format=format:'%Cred%h%Creset %s %Cgreen%an %C(red bold)%ai%Creset %C(blue bold)%d%Creset' --graph --first-parent
    lgv     = log --format=format:'%Cred%h%Creset %s %Cgreen%an %C(red bold)%ai%Creset %C(blue bold)%d%Creset' --graph --name-status
    logd    = log --decorate --graph
    log1    = log --pretty=oneline
    logl    = log --decorate --name-status
    logme   = log --author=ivan.wills --author='Ivan Wills'
    lpgme   = log --decorate --graph --name-status                                                                                   --author=ivan.wills --author='Ivan Wills'
    lpme    = log -p                                                                                                                 --author=ivan.wills --author='Ivan Wills'
    lme     = log --format=format:'%Cred%h%Creset %s %Cgreen%an %C(red bold)%ai%Creset %C(blue bold)%d%Creset'                       --author=ivan.wills --author='Ivan Wills'
    lgme    = log --format=format:'%Cred%h%Creset %s %Cgreen%an %C(red bold)%ai%Creset %C(blue bold)%d%Creset' --graph               --author=ivan.wills --author='Ivan Wills'
    lgvme   = log --format=format:'%Cred%h%Creset %s %Cgreen%an %C(red bold)%ai%Creset %C(blue bold)%d%Creset' --graph --name-status --author=ivan.wills --author='Ivan Wills'
    logdme  = log --decorate --graph                                                                                                 --author=ivan.wills --author='Ivan Wills'
    log1me  = log --pretty=oneline                                                                                                   --author=ivan.wills --author='Ivan Wills'
    loglme  = log --decorate --name-status                                                                                           --author=ivan.wills --author='Ivan Wills'
    parents = log --pretty=%P -n 1
    changes = log --format=format:'        %s (%an)'
    forward = pull --ff -r
    ff      = pull --ff -r
    pl      = pull
    ph      = push
    show-root-folder = rev-parse --show-toplevel
    ack     = grep --break --heading --line-number -P
    stashed = stash list --pretty=format:'%gd: %Cred%h%Creset %Cgreen[%ar]%Creset %s'
    update  = !git fetch origin && git merge --no-edit origin/master && git push
#[receive]
#    denyCurrentBranch = warn
[core]
    excludesfile = /home/ivan/.gitignore
    autocrlf     = input
    ignorecase   = false
    editor       = vim
[push]
    default = current
[merge]
    log        = true
    branchdesc = true
    ff         = false
[workflow]
    release = branch=^origin/master$
[grep]
    extendRegexp = true
[credential]
	helper = store
