.*.sw[ponxmn]
Debian_CPANTS.txt
.vimtagsdisplay
tags
Build
MYMETA.*
META.*
Makefile.PL
_build*
blib*
Makefile
pm_to_blib*
.lwpcookies
cover_db
nytprof*
.prove
tmp*
*~
vim.sh
temp*
err
errors.err
log
*.log
*.autosave
.cpr
*.new
http___
patches/
vrc.yml
cmds
.gnupg/*.gpg
.gnupg/random_seed
target
memberservices05-*
*/optusmetv-content/css
*/optusmetv-content/pcatnew
.regen-files
.vim/bundle/vim-perl-variable-highlighter/
.vim/bundle/YouCompleteMe/
.vim/ftplugin/perl/editortools.vim
.bash_local
